@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif
}
body {
    background-image: linear-gradient(#A5F235, #56F235, #35F25B);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #A5F235;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}
h1 {
    color: #35F25B;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}
h2{
    color: rgb(0, 73, 24);
}
